{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "YOUR_PROJECT_ID",
    "storage_bucket": "YOUR_PROJECT_ID.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_PROJECT_NUMBER:android:YOUR_APP_HASH",
        "android_client_info": {
          "package_name": "com.voicemind"
        }
      },
      "oauth_client": [
        {
          "client_id": "YOUR_PROJECT_NUMBER-ANDROID_CLIENT_HASH.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.voicemind",
            "certificate_hash": "YOUR_DEBUG_SIGNING_CERTIFICATE_SHA1"
          }
        },
        {
          "client_id": "YOUR_PROJECT_NUMBER-WEB_CLIENT_HASH.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "YOUR_FIREBASE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "YOUR_PROJECT_NUMBER-OTHER_CLIENT_HASH.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
